<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="tool1" class="com.shengsiyuan.spring2.ConcreteToolA"></bean>
    <bean id="tool2" class="com.shengsiyuan.spring2.ConcreteToolB"></bean>

    <bean id="chinese" class="com.shengsiyuan.spring2.Chinese">
        <property name="tool" ref="tool1"></property>
    </bean>
    <bean id="american" class="com.shengsiyuan.spring2.American">
        <constructor-arg ref="tool2"></constructor-arg>
    </bean>


    <bean id="personTarget" class="com.shengsiyuan.spring6.PersonImpl">
        <property name="name" value="zhangsan"/>
        <property name="address" value="北京上地"/>
    </bean>

    <bean id="beforeAdvice" class="com.shengsiyuan.spring6.MyMethodBeforeAdvice"></bean>
    <bean id="afterAdvice" class="com.shengsiyuan.spring6.MyAfterReturningAdvice"></bean>
    <bean id="aroundAdvice" class="com.shengsiyuan.spring6.MyAroundAdvice"></bean>


    <bean id="person" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.shengsiyuan.spring6.Person"/>
        <property name="target" ref="personTarget"/>
        <property name="interceptorNames">
            <list>
                <value>aroundAdvice</value>
                <value>beforeAdvice</value>
                <value>afterAdvice</value>
            </list>

        </property>
    </bean>

    <bean id="personAspect" class="com.shengsiyuan.myAspectJ.Person">
        <property name="name" value="zhangsan"/>
    </bean>


</beans>